
@media screen and (max-width:1199px) {
    .about-img{
        margin-top: ;
    }
    .about-content h1{
        font-size: 80px;
    }
    .contact-content h1{
        font-size: 70px;
    }
    .service-title{
        font-size: 80px;
    }
    .skills-title{
        font-size: 80px;
    }
    .content h1{
       font-size:;
    }
    .content h1{
    font-size:45px ;
}
.mobile-menu span{
      display:none;
   }
   .contact-content{
    padding: 127px 60px;
   }
   .skills-discrp{
    max-width: 80%;
   }

   
}
@media screen and (max-width:1024px) {
    .mobile-menu span{
      display:none;
   }
   .contact-content{
    padding: 127px 60px;
   }

   
}
@media screen and (max-width:991px) {
   
   .about-img {
    width:80%;
   }
   .about-content{
    padding-right: ;
   }
   .about-content h1{
    font-size: 65px;
   }

   .content h1{
     width: 400;
     font-size: 45px;
   }
   .service-title{
    font-size: 65px;
   }
   .skills-title{
    font-size: 65px;

   }
   .skills-discrp{
    max-width: 80%;
    margin: auto;
   }
   .contact-content h1{
    font-size: 65px;
   }
   .contact-para{
    width: 80%;
    margin: auto;
   }
   .card-title{
    font-size: 30px;
   }
   .service-card img{
    width: 60px;
    height: 60px;
   }
   .mobile-menu span{
    
    display:flex ;
    z-index: 3;
   }
   .header-nav {
      display: flex;
   }
   .mobile-menu span{
   display: flex;
   padding-left:0;
   margin-bottom: 0;
   list-style: none;


}
.menu{
   display: flex;


}
.contact-form{
    max-width:;
    margin: ;
    padding:px;
    
}
.contact-content{
    padding: 127px 60px;
   }
   .contact-form{
    margin: 0;
   }
   .works-title{
    font-size: 65px;
   }

}
@media screen and (max-width:768px) {
    .profile{
        text-align: center;
    }
    .mobile-menu span{
   display: flex;
   padding-left:0;
   margin-bottom: 0;
   list-style: none;
   


}
.mobile-menu{
    display: flex;
}
.menu{
   display: flex;
}
.header-nav{
    display: none;
    
}
.contact-form{
    padding: 25px;
}
 .contact-para{
    max-width: 110%;
    margin: auto;
   }
   .contact-content{
    padding: 127px 60px;
   }
   #hero{
    margin-top: 50px;
   }
   .footer-nav{
    flex-direction: column;
    text-align: center;
   }
   .footer{
   text-align: center;
   flex-direction: column;
   }
   .footer-social{
    justify-content: center;
    flex-direction: ;
   }

}

@media screen and (max-width:575px) {
   .about-img img{
    width: 100%;
   }
   .contact-content{
    padding: 127px 60px;
   }
   .about-content{
    padding:35px 38px;
   }
   .hero-content{
    padding:20px;
   }
   #hero{
    margin-top: 100px;
   }

}
@media screen and (max-width:425px) {
    .about-img img{
        width: 90%;
    }
    .contact-form{
    padding: 25px;
    min-width: 230px;
}
.contact-content{
    padding: 127px 40px;
   }
   .about-content{
    padding:35px 38px;
   }
   #hero{
    margin-top: 30px;
   }
   .hero-content h1{
    font-size: 30px;
   }
}
@media screen and (max-width:375px) {
    .about-img img{
        width: 90%;
    }
    .contact-form{
        min-width: 180px;
    }
    .contact-content{
    padding: 100px 30px;
   }
   .hero-content h1{
    font-size: 30px;
   }
   .marquee{
    margin-top: 140px;
   }
   .about-content{
    padding:38px 41px;
   }
   .about-img{
    width: 100%;
   }
   #hero{
    margin-top:170px;
   }
   
   .marquee{
    margin-top: 200px;
   }
   .contact-content h1{
    font-size:50px;
   }
   .works-title{
    font-size: 50px;
   }
   .skills-title{
    font-size: 50px;
   }
   .service-title{
    font-size: 50px;
   }
   .about-content h1{
    font-size: 50px;
   }
   .contact-para{
    max-width: 90%;
    margin: auto;
   }

}